* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url(../public/images/bg-pattern-1.png);
}

h1 {
  font-size: 48px;
}
h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: .2px;
}

.header {
  font-family: 'Gemunu Libre', sans-serif;
  position: absolute;
  width: 360px;
  height: 8px;
  left: 0px;
  top: 0px;
  background: linear-gradient(90deg, #B3E5FF 0%, #0092E1 100%);
  width: -webkit-fill-available;
}

.title-container { 
  margin: 25px;
  text-align: center;
  display: none;
}

#issMap { 
  height: 475px;
}

.section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 25px;
  flex-direction: column-reverse;
  align-content: center;
}

.section-left {
  font-family: 'Gemunu Libre', sans-serif;
  background: linear-gradient(137.34deg, rgba(0, 240, 255, 0.2) 0%, rgba(0, 87, 255, 0.2) 100%);
  height: 351px;
  width: 767px;
  left: 128px;
  top: 273px;
  border-radius: 16px;
  padding: 24px 23px 24px 23px;

}

.container {
  width: 726px;
  height: 495px;
}

#day-night {
  width: -webkit-fill-available;
}

#day-night img {
  width: 50px;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-end;
  align-items: center;
  gap: 10px;
}

.bottom-box {
  background-color: white;
  width: 265px;
  display: flex;
  height: 32px;
  justify-content: space-around;
  border-radius: 8px;
  align-items: center;
}

.text-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 70px;
}

.lat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #000000;
  width: 30px;
  height: 30px;
  animation: spin .8s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

/* .center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
} */

.line {
  height: 49px;
  width: 1px;
  background: #B2B6B8;
  border-radius: 999px;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  justify-self: center;
}

.alt-img {
  width: 28px;
}

.vel-img {
  width: 21px;
}

.iss {
  width: 500px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
}

#footer {
  height: 72px;
  width: auto;
  background: #274353;
  display: flex;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
  width: -webkit-fill-available;
  text-decoration: none;
}

.footer-container p a {
  color: white;
  font-size: 12px;
}

@media only screen and (min-width: 360px) and (max-width: 1023px) {

  #day-night {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 25px;

  }

  #day-night img {
    width: 60px;
  }

  .section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
    margin: 40px 25px 25px 25px;
    gap: 25px;
    z-index: 1;
    position: relative;
  }

  .iss {
    width: 311px;
  }

  .section-left {
    width: 312px;
    height: 370px;
    
  }

  .section-left .top {
    display: flex;
    width: -webkit-fill-available;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
    gap: 5px;
  }

  .middle { 
    background-color: aliceblue;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: inherit;
    flex-direction: row;
    align-content: stretch;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 385px;
    justify-content: space-around;
  }

  .text-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 57px;
  }

  .text-box box {
    justify-content: end;
  }

  .text-box p {
    font-size: 14px;
    color: #1671A2;
  }

  .text-box h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
  }

  .lat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line {
    height: 49px;
    width: 1px;
    background: #B2B6B8;
    border-radius: 999px;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    justify-self: center;
  }

  .bottom-box {
    align-items: center;
    gap: 35px;
  }

  .bottom-box > .bottom {
    align-items: center;
    gap: 80px;
  }

  .alt-img {
    width: 28px;
  }

  .vel-img {
    width: 21px;
  }

  /* box icon spaces */
  .space-1 {
    margin-right: 20px;
  }
  .space-2 {
    margin-right: 1px;
  }
  .space-3 {
    margin-right: 45px;
  }

  #footer-lg {
    display: none;
  }
  
  .footer-container-lg {
    display: none;
  }

  .footer-container-lg p a {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 3200px) { 

  #issMap {
    height: 92vh;
  }

  #day-night {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 25px;

  }

  #day-night img {
    width: 60px;
  }

  .main-section {
    width: 22vw;
  }

  .section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
    margin: 40px 25px 25px 25px;
    gap: 25px;
    z-index: 1;
    position: relative;
    width: fit-content;
  }

  .iss {
    width: 311px;
  }

  .section-left {
    width: 312px;
    height: 370px;
    
  }

  .section-left .top {
    display: flex;
    width: -webkit-fill-available;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
    gap: 5px;
  }

  .middle { 
    background-color: aliceblue;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: inherit;
    flex-direction: row;
    align-content: stretch;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 385px;
    justify-content: space-around;
  }

  .text-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 57px;
  }

  .text-box box {
    justify-content: end;
  }

  .text-box p {
    font-size: 14px;
    color: #1671A2;
  }

  .text-box h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
  }

  .lat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line {
    height: 49px;
    width: 1px;
    background: #B2B6B8;
    border-radius: 999px;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    justify-self: center;
  }

  .bottom-box {
    align-items: center;
    gap: 35px;
  }

  .bottom-box > .bottom {
    align-items: center;
    gap: 80px;
  }

  .alt-img {
    width: 28px;
  }

  .vel-img {
    width: 21px;
  }

  /* box icon spaces */
  .space-1 {
    margin-right: 20px;
  }
  .space-2 {
    margin-right: 1px;
  }
  .space-3 {
    margin-right: 45px;
  }

  .map-container {
    padding-left: 413px;
    padding-bottom: 0px;
    margin-top: -667px;
  }

  #footer {
    z-index: 1;
    position: relative;
  }

  #footer-lg {
    height: 72px;
    width: auto;
    background: #274353;
    display: flex;
    align-items: center;
  }
  
  .footer-container-lg {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    width: -webkit-fill-available;
    text-decoration: none;
  }

  .footer-container-lg p a {
    color: white;
    font-size: 12px;
  }

}

